// Define color variables for easy customization
$color-primary: #1dbeb4;
$color-secondary: #383b58;
$color-tertiary: #545776;
$color-quaternary: #f3f1ed;
$color-quintenary: #ffffff;

// Use variables throughout the stylesheet to maintain consistency in color scheme

.rent-container-form {
  // margin-left: 40px;
  background-color: $color-quintenary;
  width: 847px;
  height: 250px;
  border-radius: 10px;

  .rent-form {
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    background-color: transparent;

    // Add media query to make the form responsive
    @media (max-width: 768px) {
      width: 100%;
      font-size: 14px;
    }
    .rent-form-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .rent-form-group {
        flex-basis: 49%;

        label {
          display: block;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 5px;

          @media (max-width: 768px) {
            font-size: 14px;
          }
        }

        input {
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
          padding: 10px;
          width: 100%;
          margin-bottom: 20px;
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
          background-color: $color-quintenary;
          @media (max-width: 768px) {
            font-size: 14px;
            padding: 8px;
          }
        }
      }
    }

    button {
      background-color: $color-primary;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px;
      margin-bottom: 20px;
      transition: background-color 0.3s ease;
      width: 206px;
      display: block;
      margin: 0 auto;

      // Add media query to make the button responsive
      @media (max-width: 768px) {
        font-size: 14px;
        padding: 8px 16px;
        width: 100%;
      }

      &:hover {
        background-color: darken($color-primary, 10%);
      }
    }
  }
}
